.book_card {
  width: 150px;
  background: white;
  padding: 5px;
  text-align: left;
  display: flex;
  flex-direction: column;
  min-height: 310px;
  gap: 0.3rem;
  box-shadow: 0 1px 8px grey;
}

.book_card:hover {
  box-shadow: 0 5px 15px grey;
  margin-top: -5px;
  transition: margin-top 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.card_image {
  width: 100%;
  border: 2px solid #b2b2b2;
  padding: 1px;
}

.book_title {
  //   font-size: inherit;
  font-size: 10px;
}

.image_div {
  display: flex;
  justify-content: center;
  align-items: center;
}
